Repository Do1phin/watching-man: changes, and which lint-staged commands are due for each by the changed paths.
All: lint:fix, postcss:fix

#48 done!
  .eslintrc.json
  .husky/_/.gitignore
  .husky/_/husky.sh
  .husky/pre-commit
  .huskyrc.json
  .lintstagedrc.json
  package.json
  public/index.html
  src/components/Carousel/Carousel.styles.scss
  src/components/FullMap/FullMap.styles.scss
  src/components/FullMap/FullMap.tsx
  src/components/Header/Header.styles.scss
  src/components/Issue/Issue.stories.tsx
  src/components/Issue/Issue.styles.scss
  src/components/IssueDetails/IssueDetails.styles.scss
  src/components/IssueDetails/IssueDetails.tsx
  src/components/IssuesList/IssuesList.style.scss
  src/components/Map/Map.styles.scss
  src/components/Map/Map.tsx
  src/components/Map/MarkerCluster.ts
  src/components/MarkerWrapper/MarkerCluster.ts
  src/components/MarkerWrapper/MarkerWrapper.tsx
  src/components/Organizations/Organizations.styles.scss
  src/components/Organizations/Organizations.tsx
  src/components/SearchField/SearchField.tsx
  src/components/SetCity/SetCity.styles.scss
  src/components/SetCity/SetCityModal.styles.scss
  src/components/UI/Input/Input.styles.scss
  src/components/index.ts
  src/helpers/index.ts
  src/index.tsx
  src/pages/About/About.styles.scss
  src/pages/Home/Home.styles.scss
  src/pages/NotFound/NotFound.styles.scss
  tsconfig.json
  webpack/webpack.config.ts
Due: lint:fix, postcss:fix

#48 done!
  public/index.html
Due: none

Update check-project.yml
  .github/workflows/check-project.yml
Due: none

#105 done!
  src/components/FullMap/FullMap.tsx
  src/components/IssueDetails/IssueDetails.tsx
  src/components/Map/Map.tsx
  src/components/Map/mapLayers.ts
  src/components/Organizations/Organizations.tsx
Due: lint:fix

add db dump and run script
  docker-compose.yml
  dump.gz
  run.sh
Due: none

upd
  build_and_run.sh
  nginx.conf
  run.sh
Due: none

Create README.md
  README.md
Due: none

#109 my-position-btn style fix
  src/components/Map/MyPositionButton.styles.scss
Due: postcss:fix

#109 add debounce to the handleResize
  src/components/Header/Header.tsx
Due: lint:fix

#109 add debounce to the setCItyModal
  src/components/SetCity/SetCityModal.tsx
Due: lint:fix

#109 add debounce to the createIssue
  src/components/CreateIssue/CreateIssue.tsx
Due: lint:fix

#109 remove inline styles from Header
  src/components/Header/Header.styles.scss
  src/components/Header/Header.tsx
Due: lint:fix, postcss:fix

#109 remove inline styles from FlagDropdown
  src/components/FlagDropdown/FlagDropdown.style.scss
  src/components/FlagDropdown/FlagDropdownItem.tsx
Due: lint:fix, postcss:fix

#109 remove disabled from button
  src/components/CreateIssue/CreateIssue.tsx
Due: lint:fix

#109 remove unnecessary smile
  src/components/IssuesList/IssuesList.tsx
Due: lint:fix

Path conditions:
  lint:fix: any of: src/**/*.{js,ts,jsx,tsx}
  postcss:fix: any of: src/**/*.{css,scss,sass}
